[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1.2"

[dev-packages]
pylint = "==2.6.0"
pytest = "==6.1.2"
pytest-django = "==4.0.0"


[requires]
python_version = "3.8"
