{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Phantom Name</title>
    <link href="{% static 'phantomname/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2>Phantom Name Chooser</h2>

        <div class="nav bg-grey">
        {% if request.user.is_authenticated %}
            <!-- <h3>logged in as: <strong>{{ request.user }}</strong></h3> -->
            <!-- <p>first_name: {{ request.user.first_name }}</p> -->
            <!-- <p>last_name: {{ request.user.last_name }}</p> -->
            <div>
                <a href="{% url 'logout' %}">log out</a>
            </div>
            {% if request.user.is_superuser %}
            <div>
                <a href="{% url 'admin:index' %}">Admin Site</a>
            </div>
            {% endif %}
        {% else %}
            <div>
                <a href="{% url 'login' %}">log in</a>
            </div>
            <div>
                <a href="accounts/google/login/?process=login">Sign In with Google</a>
            </div>
            <div>
                <a href="{% url 'register' %}">register</a>
            </div>
        {% endif %}

        {% block nav %}
        {% endblock %}
        </div>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
