{% extends 'phantomname/layout.html' %}

{% block body %}
<div>
{% if user.is_authenticated %}
	{% if user.has_phantomname %}
		<div>
			<a href="{% url 'choose_name' %}">Choose a New Phantom Name (named)</a>
		</div>
	{% else %}
		<div>
			{% if request.user.first_name %}
				<a href="{% url 'choose_name' %}">Choose a Phantom Name (named)</a>
			{% else %}
				<a href="{% url 'get_name' %}">Choose a Phantom Name</a>
			{% endif %}
		</div>
	{% endif %}
{% endif %}
{% for ghostname in ghostnames %}
	<div>
		{% if ghostname.phantomname %}
			{{ ghostname.phantomname.user.first_name }}
		{% endif %}
		{{ ghostname.name }}
		{% if ghostname.phantomname %}
			{{ ghostname.phantomname.user.last_name }}
		{% endif %}
	</div>
{% endfor %}
</div>
{% endblock %}